_asset_bundler_cache
_site
.bundle
.DS_Store
.jekyll-cache
.jekyll-metadata
.sass-cache
*.gem
*.sublime-project
*.sublime-workspace
codekit-config.json
Gemfile.lock
node_modules
npm-debug.log*

# Jekyll
_site/
.jekyll-cache/
.sass-cache/
*.gem
*.rbc
.bundle/
vendor/
Gemfile.lock

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
